<!doctype html>
<html lang="en">
  <head>
        {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Css Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
      <!-- ============================== navbar ==================================== -->
      <header class="hc1 navbar navbar-expand-lg navbar-light bg-light" id="siteHeader">
          <div id="siteHeaderScreenWidthBackground" class="hc1screenWidthBackground">
              <div class="hc1centeredContent" id="siteHeaderCenteredContent">
                  <div class="hc1bg" id="siteHederbg">
                      <div class="hc1inlineCotent" id="siteHeaderinlineContent">
                          <div class="txtNew" id="WRchTxt9">
                              <p class="font_0">
                                  <span>
                                      <a href="/">
                                          Katie Riddle
                                      </a>
                                  </span>
                              </p>
                              <p class="font_0 lower">
                                  <span>
                                      <a href="/resume">
                                          Meteral Handler
                                      </a>
                                  </span>
                              </p>
                          </div>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                        {% block nav %}
                                        {% endblock %}
                                </ul>
                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      <!-- ========================================================================== -->
        <div id="content">
            {% block content %}
            
            {% endblock %}
        </div>
        <div id="footer">
          {% block footer %}
          &copy; Copyright 2019
          {% endblock %}
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>